@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="pt-br">
<head>
  
  <meta charset="utf-8" />
  <title>PFV</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta content="Progressiva Força de Vendas" name="description" />
  <meta content="Progressiva" name="author" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />

  <link rel="shortcut icon" href="~/images/icon.png">

  @* <link href="~/css/bootstrap.min.css" rel="stylesheet" type="text/css" /> *@
  <link href="~/css/icons.min.css" rel="stylesheet" type="text/css" />
  <link href="~/css/app.min.css" rel="stylesheet" type="text/css" />
  <link href="~/css/site.css" rel="stylesheet" type="text/css" />
  <link href="~/css/form.css" rel="stylesheet" type="text/css" />

  <link href="~/libs/select2/select2.min.css" rel="stylesheet" type="text/css" />
  <link href="~/libs/switchery/switchery.min.css" rel="stylesheet" type="text/css" />
  <link href="~/libs/sweetalert2/sweetalert2.min.css" rel="stylesheet" type="text/css" />
  <link href="~/libs/custombox/custombox.min.css" rel="stylesheet">

</head>
<body>
  <div class="container">
    <main>
      <div class="box">
        <a href="https://aprogressiva.com.br/">
          <span><img src="~/images/logo.png" alt="" height="90"></span>
        </a>
        <div class="form-content">
          <h3>Dados para Cotação</h3>
          <div class="form-wrapper">
            <div class="input-wrapper">
              <label class="input-label" for="AssociatedName">Nome<span>*</span></label>
              <div class="input-content">
                  <img src="~/images/input-icons/person.svg" alt="" height="24">
                  <input type="text" id="AssociatedName" class="form-control" placeholder="Seu nome" required>
              </div>
            </div>
            <div class="input-wrapper">
              <label class="input-label" for="AssociatedName">E-mail<span>*</span></label>
              <div class="input-content">
                  <img src="~/images/input-icons/mail.svg" alt="" height="24">
                  <input type="text" id="AssociatedName" class="form-control" placeholder="Seu e-mail" required>
              </div>
            </div>
            <div class="input-wrapper">
              <label class="input-label" for="AssociatedName">Telefone<span>*</span></label>
              <div class="input-content">
                  <img src="~/images/input-icons/phone.svg" alt="" height="24">
                  <input type="text" id="AssociatedName" class="form-control" placeholder="Seu telefone" required>
              </div>
            </div>
            <div class="input-wrapper">
              <label class="input-label" for="AssociatedName">UF (Unidade Federativa) <span>*</span></label>
              <div class="input-content">
                <select class="form-control select2 select2-hidden-accessible" id="StateId" required>
                  <option value="" data-select2-id="3">Selecione a UF</option>
                  <option value="1" data-select2-id="21">AC</option>
                  <option value="2" data-select2-id="22">AL</option>
                  <option value="3" data-select2-id="23">AP</option>
                  <option value="4" data-select2-id="24">AM</option>
                  <option value="5" data-select2-id="25">BA</option>
                  <option value="6" data-select2-id="26">CE</option>
                  <option value="7" data-select2-id="27">DF</option>
                  <option value="8" data-select2-id="28">ES</option>
                  <option value="9" data-select2-id="29">GO</option>
                  <option value="10" data-select2-id="30">MA</option>
                  <option value="11" data-select2-id="31">MT</option>
                  <option value="12" data-select2-id="32">MS</option>
                  <option value="13" data-select2-id="33">MG</option>
                  <option value="14" data-select2-id="34">PA</option>
                  <option value="15" data-select2-id="35">PB</option>
                  <option value="16" data-select2-id="36">PR</option>
                  <option value="17" data-select2-id="37">PE</option>
                  <option value="18" data-select2-id="38">PI</option>
                  <option value="19" data-select2-id="39">RJ</option>
                  <option value="20" data-select2-id="40">RN</option>
                  <option value="21" data-select2-id="41">RS</option>
                  <option value="22" data-select2-id="42">RO</option>
                  <option value="23" data-select2-id="43">RR</option>
                  <option value="24" data-select2-id="44">SC</option>
                  <option value="25" data-select2-id="45">SP</option>
                  <option value="26" data-select2-id="46">SE</option>
                  <option value="27" data-select2-id="47">TO</option>
                </select>
              </div>
            </div>
            <div class="btn-wrapper">
              <button id="associated-next" type="button" disabled>
                  Continuar
              </button>
            </div>
          </div>
        </div>  
      </div>
    </main>
    <footer>

    </footer>  
  </div>

  <script src="~/js/vendor.min.js"></script>
  <script src="~/js/app.min.js"></script>
  <script src="~/libs/jquery-mask-plugin/jquery.mask.min.js"></script>
  <script src="~/libs/select2/select2.min.js"></script>
  <script src="~/libs/switchery/switchery.min.js"></script>
  <script src="~/libs/sweetalert2/sweetalert2.min.js"></script>
  <script src="~/libs/custombox/custombox.min.js" defer></script>

  <script src="~/scripts/quotation/new.js" asp-append-version="true" defer></script>

  @if (Environment.GetEnvironmentVariable("ASPNETCORE_ENVIRONMENT") == "Production")
  {
      <!-- Global site tag (gtag.js) - Google Analytics -->
      <script async src="https://www.googletagmanager.com/gtag/js?id=UA-158802903-1" defer></script>
      <script defer>
          window.dataLayer = window.dataLayer || [];
          function gtag() { dataLayer.push(arguments); }
          gtag('js', new Date());

          gtag('config', 'UA-158802903-1');
      </script>
  }

</body>

</html>