@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  width: 100%;
}

.container {
  width: 100%;
  height: 100%;
}

main {
  width: 100%;
  min-height: 100vh;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(89.87deg, #173C79 0.11%, #FF4040 100.27%), #FFFFFF;
}

.box {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px 0px;
  gap: 18px;

  width: 480px;
  height: auto;

  background: #FFFFFF;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.25);
  border-radius: 25px;
  margin: 1.85rem 0;
}

.form-content {
  width: 100%;
}

.form-content > div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 90%;
  max-width: 90%;
  margin: 0 auto;
}

.form-content > div > h3 {
  font-size: 1.75rem;
  text-align: center;
  margin: 0 0 1rem 0;
}

.form-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  gap: 12px;
}

.input-wrapper{
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 4px;
  width: 90%;
}

.input-label{
  font-weight: 500;
  font-size: 1rem;
  color: #000000;
}

.input-label > span {
  color: #ff4040;
}

.input-content {
  position: relative;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 0px 12px;
  gap: 12px;

  height: 48px;

  background: #F6F6F6;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  max-width: 100%;
}

.input-content:focus-within {
  outline: 2px solid #266ADF;
}

.input-content > input {
  background-color: transparent;
  border: none;
  flex: 1;
  font-size: 0.875rem;
  max-width: 100%;
}

#AssociatedName:not(:placeholder-shown), #VehiclePlate:not(:placeholder-shown) {
  text-transform: uppercase;
}

.input-content > input:focus {
  outline: none;
}

.btn-wrapper {
  width: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
}

button {
  border: none;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 12px 16px;
  width: 100%;
  height: 45px;
  background: #193C78;
  border-radius: 4px;
  font-weight: 500;
  font-size: 0.875rem;
  color: #fff;
  cursor: pointer;
}

button[disabled]:hover{
  cursor: not-allowed;
}

button:disabled{
  opacity: 0.4;
}

footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: #fff;
  padding: 1.75rem 0;
  font-size: 0.875rem;
  text-align: center;
  max-width: 90%;
  margin: 0 auto;
}

.input-toggle{
  display: flex;
  align-items: center;
  gap: 1rem;
  width: 90%;
}

#message-email {
  font-size: 0.75rem;
  color: #ff4040;
  margin: 0;
}

/* Toggle Switch */
.switch {
  position: relative;
  display: inline-block;
  width: 42px;
  height: 26px;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 18px;
  width: 18px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(16px);
  -ms-transform: translateX(16px);
  transform: translateX(16px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

@media (max-width: 500px) {
  .box {
    width: 90%;
  } 
  img {
    max-width: 90%;
  }
}